.container {
  min-height: 100vh;
  padding: 0 1.5rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 1200px;
  margin: auto;
}

.header {
  padding: 2rem 0 0.5rem;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: start;
}

.main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main > * {
  animation: appear 0.35s linear;
}

.footer {
  padding: 2rem 0;
  border-top: 1px solid var(--accent-border-color);
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (min-width: 450px) {
  .container {
    padding: 0 2rem;
  }

  .header {
    padding: 2rem 0;
  }

  .footer {
    display: flex;
  }
}