.title {
  text-align: left;
  line-height: 100%;
  margin: 0;
  font-size: 4rem;
  transition: font-size 0.5s ease-in-out;
}

.title.home {
  font-size: 4rem;
}

.headerLinks {
  margin-left: 1rem;
  text-align: right;
}

.headerLinks>* {
  display: inline-block;
  margin: 0.3rem 0.3rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--accent-border-color);
  transition: left 0.5s ease-in-out;
}

.headerLinks>*:hover {
  background-color: rgb(var(--text-color-rgb), 0.3);
}

.headerLinks>*.active {
  background-color: rgb(var(--text-color-rgb), 0.3);
}

@media (min-width: 450px) {
  .title.home {
    font-size: 6rem;
  }
}