.title {
  text-align: left;
  line-height: 100%;
  margin: 0;
  transition: font-size 0.5s ease-in-out;
}

.title.home {
  font-size: 4rem;
}

.headerLinks>* {
  display: inline-block;
  margin-left: 1rem;
}

@media (min-width: 450px) {
  .title.home {
    font-size: 6rem;
  }
}