.socialLinks {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 3rem;
    row-gap: 1.5rem;
    justify-items: start;
}

@media (min-width: 400px) {
    .socialLinks {
        grid-template-columns: initial;
        grid-template-rows: initial;
    }
}

.socialLinks a {
    font-size: 0.7rem;
}

.icon  {
    width: 3rem;
    display: inline-block;
    font-size: 2.5rem;
    margin-right: 7px;
}