.history h4 {
    color: var(--muted-text-color);
}

.intro {
    display: grid;
    align-items: center;
}

.intro img {
    margin: auto;
}

.intro p {
    margin: 0;
    font-size: 1.4rem;
    color: var(--muted-text-color);
    text-align: center;
}

.borderedImage {
    border: 0.5rem solid var(--accent-border-color);
    border-radius: 5px;
    background-color: var(--accent-border-color);
    margin: 0.5rem 0;
    width: calc(1rem + 300px);
    display: grid;
    justify-content: center;
}

.borderedImage p {
    margin: 0;
    padding-top: 3px;
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
}

.attributions {
    font-size: 0.8em;
}

.caseStudy {
    border-width: 3px 0 3px 3px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, var(--accent-border-color) 5%, rgba(0, 0, 0, 0) 50%);
    padding: 1rem 0 1rem 0.8rem;
    margin: 1.5rem 0 1.5rem -0.5rem;
}

.caseStudy h3 {
    margin-top: 0;
}

.caseStudy p:last-child {
    margin-bottom: 0;
}

@media (min-width: 450px) {
    .history p {
        text-align: justify;
    }

    .intro {
        margin: auto;
        max-width: 800px;
        grid-template-columns: auto 1fr;
        column-gap: 1.5rem;
    }

    .borderedImage {
        float: right;
        clear: right;
        margin-left: 1.5rem;
    }

    .borderedImage p {
        text-align: center;
    }

    .caseStudy {
        margin-left: 0;
    }
}