.history h4 {
    color: var(--muted-text-color);
}

.intro {
    display: grid;
    align-items: center;
}

.intro img {
    margin: auto;
}

.intro p {
    margin: 0;
    font-size: 1.4rem;
    color: var(--muted-text-color);
    text-align: center;
}

.borderedImage,
.screenshot {
    border: 0.4rem solid var(--accent-border-color);
    border-radius: 5px;
}

.attributions {
    font-size: 0.8em;
}

.screenshot {
    background-color: var(--accent-border-color);
    margin-bottom: 0.5rem;
    display: grid;
    justify-items: center;
}

.screenshot p {
    margin: 0;
    padding-top: 3px;
    font-size: 0.8rem;
}

.caseStudy {
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: var(--accent-border-color);
    padding: 0 0 0 0.8rem;
}

@media (min-width: 450px) {
    .history p {
        text-align: justify;
    }

    .intro {
        margin: auto;
        max-width: 800px;
        grid-template-columns: auto 1fr;
        column-gap: 1.5rem;
    }

    .borderedImage,
    .screenshot {
        border-width: 0.8rem;
    }

    .screenshot {
        float: right;
        margin-left: 1.5rem;
    }

    .caseStudy {
        border-width: 0 1px 0;
        margin: 0 1rem;
        padding: 0 1rem;
    }
}