.container {
  min-height: 100vh;
  padding: 0 2rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 1200px;
  margin: auto;
}

.header {
  padding: 2rem 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: start;
}

.header h1 {
  line-height: 100%;
  margin: 0;
  transition: font-size 0.5s ease-in-out;
}

.container.home .header h1 {
  font-size: 4rem;
}

.headerLinks > * {
  display: inline-block;
}

.main {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 1;
  transition: opacity 0.35s linear;
}

.pageChanging {
  opacity: 0;
  transition: none;
}

.footer {
  padding: 2rem 0;
  border-top: 1px solid var(--accent-border-color);
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (min-width: 450px) {
  .container.home .header h1 {
    font-size: 6rem;
  }

  .footer {
    display: flex;
  }
}