.container {
  min-height: 100vh;
  padding: 0 2rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 1200px;
  margin: auto;
}

.header {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.header h1 {
  font-family: script;
  margin-right: 2rem;
  transition: font-size 0.5s ease-in-out;
}

.container.home .header h1 {
  font-size: 6rem;
}

.headerLinks > * {
  display: inline-block;
}

.main {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.pageChanging {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid var(--accent-border-color);
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
