.projects {
    display: grid;
    justify-content: space-evenly;
    align-content: space-evenly;
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
    column-gap: 25px;
    row-gap: 25px;
}

.project {
    width: 100%;
    text-align: center;
    background-color: #0002;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 200px auto;
}

.screenshot {
    position: relative;
    height: 100%;
    align-self: end;
}

.screenshot img {
    object-fit: contain;
}

@media (prefers-color-scheme: dark) {
    .project {
        background-color: #fff2;
    }
}

.info {
    display: grid;
    grid-auto-flow: row;
    margin-bottom: 10px;
}

.info h2 {
    margin-top: 1rem;
    margin-inline-start: 0.5rem;
    margin-inline-end: 0.5rem;
}

.info p {
    padding: 0 10px;
    margin: 5px 0;
}

.info .projectLink {
    word-break: break-all;
}

.info .projectDuration {
    font-size: 0.9rem;
    margin-top: 0;
}

.info .projectTech {
    align-self: end;
    height: 3.5rem;
}

.info .techTag {
    display: inline-block;
    font-size: 0.8rem;
    background-color: rgb(var(--text-color-rgb), 0.2);
    padding: 2px 4px;
    margin: 2px;
    border-radius: 4px;
}

.attributions {
    margin-top: 2em;
    font-size: 0.8em;
}